mypy
pyright
pytest
pytest-sugar
ruff
typing-extensions;python_version<"3.11"

# Install GitPython from a commit in my fork containing changes to be tested.
git+https://github.com/EliahKagan/GitPython.git@820a2fb87fac675b06c8cff87e5723d1f481882a
